@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
}

code {
  font-family: Roboto, sans-serif;
}
.slider-item:nth-child(1) {
  display: flex !important;
}

.slider-item:nth-child(2) {
  display: flex !important;
}

.slider-item:nth-child(3) {
  display: flex !important;
}

.slider-item:nth-child(4) {
  display: flex !important;
}

.slider-item:nth-child(5) {
  display: flex !important;
}

.slick-arrow {
  display: none !important;
}
